<!-- Footer Area Start -->
<footer class="footer-one">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>About US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p>
                            <strong>Address:</strong> 651 Fifth venue, 36th New York, NY 546<br>
                            <strong>Phone:</strong> <a href="tel:(+080)46893578">(+080) 4689 35 78</a><br>
                            <strong>Email:</strong> <a href="mailto:myemail@kyanite.com">myemail@kyanite.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>Quilk Link</h3>
                        <ul class="link-list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>popular post</h3>
                        <div class="single-post">
                            <div class="image-box bg-one">
                            </div>
                            <div class="contents">
                                <h4><a href="#">There are 10 professional bre in our training center</a></h4>
                                <p class="date">February, 15, 2019</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="image-box bg-two">
                            </div>
                            <div class="contents">
                                <h4><a href="#">I used to love the clock to pla life in a very beautiful</a></h4>
                                <p class="date">March, 25, 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    Copyrights &copy; 2024. All Rights Reserved.
                </div>
                <div class="col-md-6 order-1 order-md-2 footer-bottom-right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->