<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go.arch  - Architecture HTML Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
    <!-- Loader -->

    <div class="loader">
        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="loader-brand">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>


    <partial name="_Header" />

    <div class="layout">
        @if (ViewBag.ShowHeader == true)
        {
            <partial name="_HeroSlider" />
        }
        <div class="content">
            @RenderBody()
            <partial name="_Footer" />

        </div>
    </div>
    @*   <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a> *@
    <!-- SCRIPTS -->

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="/assets/js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="/assets/js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="/assets/js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="/assets/js/interface.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
