@using AsadAfzal.Helpers;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var routeValues = HttpContextAccessor.HttpContext?.GetRouteData()?.Values;
    var controller = routeValues?["controller"]?.ToString();
    var action = routeValues?["action"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A ASAD AFZAL DESIGN</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/logo/logo.png">
    <link rel="apple-touch-icon" href="/assets/img/logo/logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/logo/logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/logo/logo.png">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="/assets/css/style.css?v=@RazorViewHelper.JsVersion" rel="stylesheet" media="screen">
</head>
<body>
    <!-- Loader -->

    <div class="loader">
        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="loader-brand">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>


    <partial name="_Header" />

    <div class="layout">
        @if (ViewBag.ShowHeader == true)
        {
            <partial name="_HeroSlider" />
        }
        @if (controller == "Home" && action == "AboutUs")
        {
             <main class="main main-inner bg-about" data-stellar-background-ratio="0.6">
            <div class="container">
                <header class="main-header">
                    <h1>About Arch</h1>
                </header>
            </div>

            <!-- Lines -->

            <div class="page-lines">
                <div class="container">
                    <div class="col-line col-xs-4">
                        <div class="line"></div>
                    </div>
                    <div class="col-line col-xs-4">
                        <div class="line"></div>
                    </div>
                    <div class="col-line col-xs-4">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            </main>
        }
        else if (controller == "Home" && action == "Projects")
        {
            <main class="main main-inner main-projects bg-projects" data-stellar-background-ratio="0.6">
                <div class="container">
                    <header class="main-header">
                        <h1>Projects</h1>
                    </header>
                </div>

                <!-- Lines -->

                <div class="page-lines">
                    <div class="container">
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </main>
        }
        else if (controller == "Home" && action == "Blogs")
        {


            <main class="main main-inner main-blog bg-blog" data-stellar-background-ratio="0.6">
                <div class="container">
                    <header class="main-header">
                        <h1>Blog</h1>
                    </header>
                </div>

                <!-- Lines -->

                <div class="page-lines">
                    <div class="container">
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </main>
        }
        else if (controller == "Home" && action == "ContactUs")
        {



            <main class="main main-inner main-contacts bg-contacts" data-stellar-background-ratio="0.6">
                <div class="container">
                    <header class="main-header">
                        <h1>Contacts</h1>
                    </header>
                </div>

                <!-- Lines -->

                <div class="page-lines">
                    <div class="container">
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-line col-xs-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </main>
        }

        <div class="content">
            @RenderBody()
            <partial name="_Footer" />

        </div>
    </div>
    @*   <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
    </a> *@
    <!-- SCRIPTS -->

    <script src="/assets/js/jquery.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/bootstrap.min.js?v=@RazorViewHelper.JsVersion"></script>
    @* <script src="/assets/js/smoothscroll.js"></script> *@
    <script src="/assets/js/jquery.validate.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/wow.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/jquery.stellar.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=@RazorViewHelper.JsVersion"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="/assets/js/rev-slider/jquery.themepunch.tools.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/jquery.themepunch.revolution.min.js?v=@RazorViewHelper.JsVersion"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="/assets/js/rev-slider/revolution.extension.actions.min.js?v=@RazorViewHelper.JsVersion?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.carousel.min.js?v=@RazorViewHelper.JsVersion?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.kenburn.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.layeranimation.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.migration.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.navigation.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.parallax.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.slideanims.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/rev-slider/revolution.extension.video.min.js?v=@RazorViewHelper.JsVersion"></script>
    <script src="/assets/js/interface.js?v=@RazorViewHelper.JsVersion"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
