
@{
    ViewData["Title"] = "AboutUs";
}

<link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.carousel-2.3.4.min.css">
<!-- Owl Carousel Theme CSS -->
<link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.theme.default-2.3.4.min.css">
<!-- Page Header Section Start -->
<section id="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header Section End -->
<!-- About Section Three Start -->
<section id="about-section-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="about-section-left">
                    <img src="~/assets/img/about-section/8.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="about-section-right">
                    <small class="small-primary">About <span>architectural</span></small>
                    <h2>We are ready to create various architectural designs</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod or incididunt ut labore et dolore magna aliqua. Ut enim ad minim eniamnostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo nsequat. Duis ute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat llas pariatur excepteur sint occaecat</p>
                    <ul class="list-primary">
                        <li>Our commitment to quality and services ensure clients</li>
                        <li>We’re happy to make you feel more comfortable on your home.</li>
                        <li>Are you ready to makeover your space fortab services</li>
                    </ul>
                    <button class="btn button-secondary-brown">MORE ABOUT US</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Three End -->
<!-- CTA Section Start -->
<section id="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>We’ are hirring ipsum dolor sit amet conse ctetur.</h3>
                <p>Eorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            <div class="col-md-4">
                <div class="cta-right">
                    <a href="#" class="btn button-primary">Contact now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA Section End -->
<!-- Featured Section Three Start -->
<section id="featured-section-three">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-header">
                    <small class="small-primary">Discover <span>us</span></small>
                    <h2>Our Features</h2>
                    <p>Our have the best people with whom we can overcome all obstacles in our way, with whom we confidently look to the future</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="featured-item-left">
                    <img src="~/assets/img/icons/design.png" alt="">
                    <h3>Design our own</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
                <div class="featured-item-left">
                    <img src="~/assets/img/icons/delivery.png" alt="">
                    <h3>Quick delivery</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
                <div class="featured-item-left">
                    <img src="~/assets/img/icons/vision.png" alt="">
                    <h3>Our vision</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="owl-carousel owl-theme about-three-slider">
                    <div>
                        <img src="~/assets/img/about-section/9.jpg" alt="">
                    </div>
                    <div>
                        <img src="~/assets/img/about-section/10.jpg" alt="">
                    </div>
                    <div>
                        <img src="~/assets/img/about-section/11.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-item-right">
                    <img src="~/assets/img/icons/support.png" alt="">
                    <h3>Our core values</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
                <div class="featured-item-right">
                    <img src="~/assets/img/icons/consultation.png" alt="">
                    <h3>Free consultation</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
                <div class="featured-item-right">
                    <img src="~/assets/img/icons/award.png" alt="">
                    <h3>Award winning</h3>
                    <p>Lorem ipsum dolor sit met,ecteturs adipisicing elit, sed do eiusmod por incididunt ut labore</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section Three End -->
<!-- Testimonial Section Two Start -->
<section id="testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme testimonial-carousel-two">
                    <div class="testimonial-carousel-item">
                        <div class="image-box">
                            <img src="~/assets/img/user/3.jpg" alt="">
                            <i class="fas fa-quote-left"></i>
                        </div>
                        <div class="text-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h4>Chloe Gomez</h4>
                            <small class="small-secondary">Architect</small>
                        </div>
                    </div>

                    <div class="testimonial-carousel-item">
                        <div class="image-box">
                            <img src="~/assets/img/user/3.jpg" alt="">
                            <i class="fas fa-quote-left"></i>
                        </div>
                        <div class="text-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h4>Chloe Gomez</h4>
                            <small class="small-secondary">Architect</small>
                        </div>
                    </div>

                    <div class="testimonial-carousel-item">
                        <div class="image-box">
                            <img src="~/assets/img/user/3.jpg" alt="">
                            <i class="fas fa-quote-left"></i>
                        </div>
                        <div class="text-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h4>Chloe Gomez</h4>
                            <small class="small-secondary">Architect</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section Two End -->
<!-- Team Section Three Start -->
<section id="team-section-three">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <small class="small-primary">Work <span>team</span></small>
                    <h2>Meet our membar</h2>
                    <p>Our have the best people with whom we can overcome all obstacles in our way, with whom we confidently look to the future</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="image-box">
                        <img src="~/assets/img/team/1.jpg" alt="">
                        <div class="social-icon-box">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a href="single-team.html">Jone anderson</a></h4>
                    <small class="small-secondary">CEO - Funder</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="image-box">
                        <img src="~/assets/img/team/2.jpg" alt="">
                        <div class="social-icon-box">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a href="single-team.html">Chloe gomez</a></h4>
                    <small class="small-secondary">Designer</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="image-box">
                        <img src="~/assets/img/team/3.jpg" alt="">
                        <div class="social-icon-box">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a href="single-team.html">Stiven smith</a></h4>
                    <small class="small-secondary">Engineer</small>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="image-box">
                        <img src="~/assets/img/team/4.jpg" alt="">
                        <div class="social-icon-box">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a href="single-team.html">Nicolas poran</a></h4>
                    <small class="small-secondary">Architect</small>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section Three End -->