
@{
    ViewData["Title"] = "Blogs";
}
<!-- Page Header Section Start -->
<section id="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blogs</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header Section End -->
<!-- Blog Section Two Start -->
<section id="blog-section-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-header">
                    <small class="small-primary">Latest <span>Update</span></small>
                    <h2>Our blog post</h2>
                    <p>Our have the best people with whom we can overcome all obstacles in our way, with whom we confidently look to the future</p>
                </div>
            </div>
        </div>


        <div class="row">

            <!-- Blog Posts Start -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/4.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Architecture  are alreadreque stin marc sobs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/5.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Discover Architecture Of Bario sti marc jobs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/6.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Fashion people are alreadreque sti marc kebs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/7.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Architecture  are alreadreque stin marc sobs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/8.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Fashion people are alreadreque sti marc kebs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/9.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Architecture  are alreadreque stin marc sobs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/10.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Discover Architecture Of Bario sti marc jobs</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-post">
                            <div class="image-box">
                                <img src="~/assets/img/blog/11.jpg" alt="">
                            </div>
                            <p class="date">25, August 2018</p>
                            <h3><a href="#">Fashion people are alreadreque sti marc kebs</a></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Blog Posts End -->
            <!-- Sidebar Start -->
            <div class="col-md-4">
                <div class="sidebar-widget">
                    <h3 class="title">Popular post</h3>
                    <div class="sidebar-single-post">
                        <div class="image-box bg-one">
                        </div>
                        <div class="contents">
                            <h4><a href="#">There are 10 professional bre in our training center</a></h4>
                            <p class="date">February, 15, 2019</p>
                        </div>
                    </div>
                    <div class="sidebar-single-post">
                        <div class="image-box bg-two">
                        </div>
                        <div class="contents">
                            <h4><a href="#">I used to love the clock to pla life in a very beautiful</a></h4>
                            <p class="date">March, 25, 2019</p>
                        </div>
                    </div>
                    <div class="sidebar-single-post">
                        <div class="image-box bg-three">
                        </div>
                        <div class="contents">
                            <h4><a href="#">I used to love the clocks life in a very beautiful</a></h4>
                            <p class="date">June, 23, 2019</p>
                        </div>
                    </div>
                    <div class="sidebar-single-post">
                        <div class="image-box bg-four">
                        </div>
                        <div class="contents">
                            <h4><a href="#">Five Australian politicia ousted over citize</a></h4>
                            <p class="date">October, 19, 2019</p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-widget">
                    <h3 class="title">CATEGORIES</h3>
                    <ul class="categories">
                        <li>Interior design <span>10</span></li>
                        <li>Architecture design <span>17</span></li>
                        <li>Residential design <span>29</span></li>
                        <li>Commercial design <span>05</span></li>
                        <li>Kitchen design <span>09</span></li>
                        <li>Landscape design <span>15</span></li>
                    </ul>
                </div>

                <div class="sidebar-widget">
                    <h3 class="title">LAtest Reviwer</h3>
                    <div class="sidebar-single-review">
                        <div class="image-box bg-five">
                        </div>
                        <div class="contents">
                            <h4><a href="#">I need a good boyfriend life in a very</a></h4>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-single-review">
                        <div class="image-box bg-six">
                        </div>
                        <div class="contents">
                            <h4><a href="#">Five Australian politicia ousted over citize</a></h4>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-single-review">
                        <div class="image-box bg-three">
                        </div>
                        <div class="contents">
                            <h4><a href="#">I used to love the clocks life in a very beautiful</a></h4>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-single-review">
                        <div class="image-box bg-four">
                        </div>
                        <div class="contents">
                            <h4><a href="#">Five Australian politicia ousted over citize</a></h4>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar End -->

        </div>
    </div>
</section>
<!-- Blog Section Two End -->
