@{
    ViewData["Title"] = "ContactUs";
}

<!-- Contacts Details -->

<section class="contact-details">
    <div class="col-map col-md-7">
        <div class="gmap col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.726595262603!2d74.4473186!3d31.476706299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391909f20a22e9cb%3A0x33e48320f0ac7334!2sA%20Asad%20Afzal%20Design!5e0!3m2!1sen!2s!4v1737646823398!5m2!1sen!2s" width="980" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="contact-info col-md-5 col-md-offset-7">
        <div class="contact-info-content">
            <div class="contact-info-title">Contacts</div>
            <div class="phone contact-row">
                <i class="fa fa-phone"></i>
                <div class="contact-body">
                    <h4>Phone</h4>
                    <div class="phone-row">+0 543 554 44-25</div>
                    <div class="phone-row">+0 543 554 44-25</div>
                    <div class="phone-row">+0 543 554 44-25</div>
                </div>
            </div>
            <div class="contact-row">
                <i class="fa fa-envelope"></i>
                <div class="contact-body">
                    <h4>Email</h4>
                    <div class="contact-content">goarch@domain.com</div>
                </div>
            </div>
            <div class="contact-row">
                <i class="fa fa-map-marker"></i>
                <div class="contact-body">
                    <h4>Address</h4>
                    <div class="contact-content">USA, New York,<br>648 Ivah Street Apt. 375</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Objects -->

<section id="objects" class="objects section">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">We are <span class="text-primary">worldwide</span></h2>
        </header>
        <div class="section-content">
            <div class="objects">
                <img alt="" class="img-responsive" src="/assets/img/map.png">

                <!-- Objects -->

                <div class="object-label" style="left:12.6%; top:42%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 25.7%; top: 39.1%;">
                    <div class="object-info in">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 32.2%; top: 80.6%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 47.3%; top: 34.5%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 50.7%; top: 20.4%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 64.4%; top: 22.4%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 82.2%; top: 32.6%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>

                <div class="object-label" style="left: 84.4%; top: 82.3%;">
                    <div class="object-info">
                        <h3 class="object-title">New York</h3>
                        <div class="object-content">
                            +0 595-510-1352<br>
                            flatley.don@weissnat.me<br>
                            713 Dibbert Bridge
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
t> 