@{
    ViewData["Title"] = "ContactUs";
}


<!-- Page Header Section Start -->
<section id="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Page</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header Section End -->
<!-- Contact Section Two Start -->
<section id="contact-section-two">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <small class="small-primary">Our <span>contact</span></small>
                <h2>Get in touch</h2>
                <p>Our have the best people with whom we can overcome all obstacles in our way, with whom we confidently look to the future</p>
                <p>
                    <strong>Address:</strong> 651 Fifth venue, 36th New York, NY 546<br><br>
                    <strong>Phone:</strong> <a href="tel:(+080)46893578">(+080) 4689 35 78</a><br><br>
                    <strong>Email:</strong> <a href="mailto:myemail@kyanite.com">myemail@kyanite.com</a>
                </p>
            </div>

            <div class="col-md-8">
                <!-- Contact Form Start -->
                <form class="form-primary" id="contact_form">
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Your Name*">
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Your Email*">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" name="phone" class="form-control" placeholder="Your Phone (Optional)">
                        </div>
                        <div class="col">
                            <input type="text" name="subject" class="form-control" placeholder="Your Subject*">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <textarea name="message" class="form-control" placeholder="Insert Message*"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input name="submit" type="submit" class="btn button-primary" value="Send Message">
                        </div>
                    </div>
                </form>
                <!-- Contact Form End -->
            </div>

        </div>
    </div>
</section>
<!-- Contact Section Two End -->
<!-- Map Section Start -->
<section id="map-section">
    <div id="googleMap"></div>
</section>
<!-- Map Section End -->

<script>

</script>