
@{
    ViewData["Title"] = "Projects";
}

<!-- Page Header Section Start -->
<section id="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Projects</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header Section End -->
<!-- Portfolio Section Start -->
<section id="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <small class="small-primary">Work <span>project</span></small>
                <h2>Latest project</h2>
            </div>
            <div class="col-md-7 position-relative">
                <div class="portfolio-item-controls">
                    <button class="active" data-filter="*">All <span>show</span></button>
                    <button data-filter=".architecture">Architecture</button>
                    <button data-filter=".interior">Interior</button>
                    <button data-filter=".commercial">Commercial</button>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-item-list">
        <div class="portfolio-item-sizer"></div>
        <div class="portfolio-item has-gutter portfolio-item--width2 architecture">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/1.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/1.jpg" data-lightbox="portfolio-item" data-title="Architecture Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Architecture</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter interior">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/2.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/2.jpg" data-lightbox="portfolio-item" data-title="Interior Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Interior</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter commercial">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/3.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/3.jpg" data-lightbox="portfolio-item" data-title="Commercial Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Commercial</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter interior">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/4.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/4.jpg" data-lightbox="portfolio-item" data-title="Interior Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Interior</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter commercial">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/5.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/5.jpg" data-lightbox="portfolio-item" data-title="Commercial Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Commercial</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter portfolio-item--width2 architecture">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/6.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/6.jpg" data-lightbox="portfolio-item" data-title="Architecture Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Architecture</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-item has-gutter portfolio-item--width2 architecture">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/1.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/1.jpg" data-lightbox="portfolio-item" data-title="Architecture Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Architecture</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter interior">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/2.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/2.jpg" data-lightbox="portfolio-item" data-title="Interior Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Interior</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter commercial">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/3.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/3.jpg" data-lightbox="portfolio-item" data-title="Commercial Project 1"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Commercial</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter interior">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/4.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/4.jpg" data-lightbox="portfolio-item" data-title="Interior Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Interior</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter commercial">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/5.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/5.jpg" data-lightbox="portfolio-item" data-title="Commercial Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Commercial</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-item has-gutter portfolio-item--width2 architecture">
            <div class="inner">
                <img src="~/assets/img/portfolio-one/6.jpg" alt="">
                <div class="overlay">
                    <a href="~/assets/img/portfolio-one/6.jpg" data-lightbox="portfolio-item" data-title="Architecture Project 2"><img src="~/assets/img/icons/plus.png" alt=""></a>
                    <div class="title">
                        <small class="small-secondary">Architecture</small>
                        <h3>Conference Center</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Section End -->
