
@{
    ViewData["Title"] = "Services";
}
<!-- Page Header Section Start -->
<section id="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Services Page One</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Header Section End -->
<!-- Service Section Three Start -->
<section id="service-section-three">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <small class="small-primary">Work <span>sevice</span></small>
                    <h2>Our great provied</h2>
                    <p>Our have the best people with whom we can overcome all obstacles in our way, with whom we confidently look to the future</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-one">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/delivery.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/delivery-light.png" alt="">
                    </div>
                    <h3>Interior design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-two">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/design.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/design-light.png" alt="">
                    </div>
                    <h3>Architecture design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-three">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/fectory.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/fectory-light.png" alt="">
                    </div>
                    <h3>Residential design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-four">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/commercial.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/commercial-light.png" alt="">
                    </div>
                    <h3>Commercial design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-five">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/kitchen.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/kitchen-light.png" alt="">
                    </div>
                    <h3>Kitchen design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow zoomIn">
                <div class="service-item bg-six">
                    <div class="icon">
                        <img class="default-icon" src="~/assets/img/icons/landscape.png" alt="">
                        <img class="hover-icon" src="~/assets/img/icons/landscape-light.png" alt="">
                    </div>
                    <h3>Landscape design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur ci sed do eiusmod tempor incididunt ut ore et dolore magna aliqua.</p>
                    <a href="single-service.html">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section Three End -->
<!-- CTA Section Three Start -->
<section id="cta-section-three">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>We’ are hirring ipsum dolor sit amet conse ctetur.</h3>
                <p>Eorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            <div class="col-md-4">
                <div class="cta-right">
                    <a href="#" class="btn button-secondary-white">Contact now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA Section Three End -->
<!-- Our Clients Section Start -->
<section id="our-clients-section">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/1.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/2.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/3.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/4.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/5.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/1.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/2.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="client-logo">
                    <img src="~/assets/img/our-clients/3.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Our Clients Section End -->
